#chart-container.svelte-xs18s7{width:100%;height:calc(
      100% - 50px
    );margin:0 auto;position:relative}.panel.svelte-xs18s7{position:absolute;top:60px;left:10px;background-color:rgba(245, 245, 245, 0.675);border-radius:5px;padding:10px;display:flex;flex-direction:column;gap:10px;z-index:3}.box.svelte-xs18s7{display:flex;flex-direction:column;gap:5px}